<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <section class="hero">
        <div class="container">
            <div class="info">
                <h1>Movie Review</h1>
                <form action="/predict" method="post">
                    <ul class="wrapper">
                        <li class="form-row">
                            <label for="movie name">Movie name</label>
                            <input type="text" id="movie_name" name="movie_name" placeholder="Enter movie name" required>
                        </li>
                        <li class="form-row">
                            <label for="firstname">Movie review</label>
                            <textarea id="review" name="review" placeholder="Enter your review"></textarea>
                        </li>
                        <li class="form-row">
                            <button type="submit">Submit Review</button>
                        </li>
                        {% if pred %}
                            <li class="form-row">
                                <p id='score'>The review has a {{ pred1[2 : 7] }} probability of being {{ pred }}</p>
                            </li>
                        {% endif %} 
                    </ul>
                </form>
            </div>
    </section>

    <script>
        let text = document.getElementById('score').innerHTML;
        let res = text.split(' ');
        if(text){
            if(res[res.length - 1] == 'positive'){
                document.getElementById('score').style.display = 'block';
                document.getElementById('score').style.backgroundColor = 'green'; 
            } else if(res[res.length - 1] == 'negative'){
                document.getElementById('score').style.display = 'block';
                document.getElementById('score').style.backgroundColor = 'red'; 
            }
    </script>
</body>

</html>